@import "tailwindcss";

body {
    overflow-x: hidden;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl shadow-lg;
}

.bg-grid {
    background-size: 40px 40px;
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        );
}
