@import "tailwindcss";

body {
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.glass {
  @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl shadow-lg;
}